@model ExMVC_01.Presentation.Models.ClienteCadastroViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Formulário de cadastro de clientes</h5>
<p>Por favor, preencha os campos abaixo:</p>

@using (Html.BeginForm())
{
    <label>Nome do Cliente:</label>
    @Html.TextBoxFor(model => model.Nome,
         new
         {
             @class = "form-control col-md-4",
             @autocomplete = "off",
             @placeholder = "Ex: João Carlos"
         })
    <br />
    <label>Email:</label>
    @Html.TextBoxFor(model => model.Email,
         new
         {
             @class = "form-control col-md-4",
             @autocomplete = "off",
             @placeholder = "Ex: joaocarlos@gmail.com"
         })
    <br />
    <label>CPF:</label>
    @Html.TextBoxFor(model => model.Cpf,
         new
         {
             @class = "form-control col-md-4",
             @autocomplete = "off",
             @placeholder = "Ex: 12345678900"
         })
    <br />
    <label>Data de Nascimento:</label>
    @Html.TextBoxFor(model => model.DataNascimento,
         new
         {
             @class = "form-control col-md-4",
             @autocomplete = "off",
             @type = "date"
         })
    <br />

<label>Sexo:</label> <br/>
 @Html.RadioButtonFor(model => model.Sexo, "F") <span>Feminino</span>
 @Html.RadioButtonFor(model => model.Sexo, "M") <span>Masculino</span>
 <br/>
 <br/>
 <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>
}